{
  "extends": "airbnb-base",
  "rules": {
    "arrow-parens": "off",
    "import/no-extraneous-dependencies": "off",
    "no-console": "off",
    "no-plusplus": "off",
    "indent": [2, 4],
    "max-len": [2, {"code": 120}]
  }
}
