{
  "extends": [
  	"prettier",
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8
  },
  "plugins": [
    "prettier"
  ],
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": ["error", {
      "semi": false,
      "singleQuote": true, 
      "jsxBracketSameLine": true
    }]
  }
}
